* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  height: 100vh;
  padding: 0 20px;
  background-color: hsl(30, 38%, 92%);
  font-size: 1.125rem; /* 18px */
  font-family: 'Montserrat';
  color: hsl(228, 12%, 48%);
}

.product-card {
  margin: auto;
  display: flex;
  max-width: 800px;
  max-height: 600px;
}

.product-card__image {
  width: 50%;
  border-radius: 15px 0 0 15px;
  object-fit: cover;
}

.product-card__content {
  width: 50%;
  background-color: #fff;
  border-radius: 0 15px 15px 0;
  padding: 44px;
  box-sizing: border-box;
}

.product-card__category {
  letter-spacing: 0.4em;
  font-size: 0.889em;
}

.product-card__title {
  color: hsl(212, 21%, 14%);
  font-family: 'Fraunces';
  font-size: 2.5em;
  line-height: 1;
  margin: 0.7em 0;
}

.product-card__description {
  line-height: 1.6;
}

.product-card__price {
  margin: 1.8em 0;
  display: flex;
}

.product-card__price-new {
  font-family: 'Fraunces';
  font-size: 2.5em;
  color: #3d8168;
}

.product-card__price-old {
  text-decoration: line-through;
  margin: auto 0 auto 1.3em;
}

.product-card__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3.5em;
  font-family: 'Montserrat';
  font-size: 1em;
  font-weight: 700;
  color: #fff;
  background-color: #3d8168;
  border: none;
  border-radius: 10px;
}

.product-card__button:hover {
  background-color: #1a4031;
  cursor: pointer;
}

.product-card__button > img {
  width: 1.2em;
  margin-right: 0.5em;
}

@media (max-width: 767.98px) {
  body {
    font-size: 1rem;
  }

  .product-card__image {
    width: 45%;
  }

  .product-card__content {
    width: 55%;
    padding: 25px;
  }
}

@media (max-width: 575.98px) {
  body {
    font-size: 0.875rem;
  }

  .product-card {
    flex-direction: column;
    max-height: none;
  }

  .product-card__image {
    width: 100%;
    height: 240px;
    border-radius: 10px 10px 0 0;
  }

  .product-card__content {
    width: 100%;
    border-radius: 0 0 10px 10px;
    padding: 24px;
  }

  .product-card__title {
    font-size: 2.3em;
    margin: 0.5em 0;
  }

  .product-card__price {
    margin: 1em 0;
  }
}