.container {
  list-style: none;
  width: 395px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.container > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container > li > span {
  font-size: 1.5rem;
}

.container > li > ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.container > li > ul > li {
  width: 25px;
  height: 25px;
  border: 2px solid #3E3D3D;
  border-radius: 50%;
}

.container > li > ul > li.enabled {
  background-color: var(--accent-color);
  border: none;
}
