* {
  margin: 0;
  padding: 0;
  font-family: 'JetBrains Mono', monospace;
  font-weight: 500;
}

body {
  background-color: #191817;
  color: #ededed;
  display: flex;
  height: 100vh;
  padding: 0 1.5em;
}

.password-generator {
  margin: auto;
  width: 500px;
}

.password-generator__title {
  color: #b7b7b7;
  text-align: center;
  margin-bottom: 1em;
}

.password-block {
  background-color: #272321;
  margin-bottom: 1em;
  padding: 1.5em;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.password-block__password {
  color: #ededed;
  background-color: transparent;
  width: 90%;
  border: none;
  font-size: 2rem;
  font-weight: 700;
}

.password-block__copy-button {
  background-color: transparent;
  border: none;
  height: 70%;
}

.password-block__copy-button svg {
  fill: #fc751a;
  height: 100%;
  width: 100%;
}

.password-block__copy-button svg:hover {
  fill: #ededed;
  cursor: pointer;
}

.settings-block {
  background-color: #272321;
  padding: 1.5em;
}

.slider-length {
  margin-bottom: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider-length__number {
  color: #fc751a;
  font-size: 1.5rem;
}

.slider-wrapper {
  height: 24px;
  margin-bottom: 2em;
  display: flex;
}

.slider-wrapper__slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: linear-gradient(90deg, #fc751a 0%, #1f1c1b 0%);
  width: 100%;
  height: 8px;
  margin: auto;
}

.slider-wrapper__slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: #ededed;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
}

.slider-wrapper__slider::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: #ededed;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}

.slider-wrapper__slider::-webkit-slider-thumb:hover {
  background-color: #1f1c1b;
  outline: 2px solid #fc751a;
}

.slider-wrapper__slider::-moz-range-thumb:hover {
  background-color: #1f1c1b;
  outline: 2px solid #fc751a;
}

.settings-block__list {
  margin-bottom: 2em;
}

.settings-block__list label {
  max-width: fit-content;
  display: flex;
  margin-bottom: 12px;
  cursor: pointer;
}

.settings-block__list input {
  -webkit-appearance: none;
  appearance: none;
}

.settings-block__list div {
  width: 1em;
  height: 1em;
  border: 2px solid #ededed;
  margin: auto 20px auto 0;
}

.settings-block__list label:hover div {
  border-color: #fc751a;
}

.settings-block__list input:checked + div {
  border-color: #fc751a;
  background-color: #fc751a;
  background-image: url(./check.svg);
}

.strength-block {
  background-color: #1f1c1b;
  padding: 1em 1.5em;
  margin-bottom: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.strength-block__title {
  color: #b7b7b7;
}

.strength-block__strength-level-wrapper {
  height: 1.5em;
  display: flex;
  gap: 7px;
}

.strength-block__strength-level {
  font-size: 1.5rem;
  align-self: center;
  margin-right: 7px;
}

.strength-block__strength-level-wrapper div {
  width: 7px;
  border: 2px solid #ededed;
}

.settings-block__generate-button {
  background-color: #fc751a;
  color: #1f1c1b;
  fill: #1f1c1b; /* for svg */
  border: none;
  width: 100%;
  height: 2.5em;
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.settings-block__generate-button:hover {
  background-color: transparent;
  color: #fc751a;
  fill: #fc751a;
  border: 2px solid #fc751a;
  cursor: pointer;
}

.settings-block__generate-button svg {
  width: 0.9em;
  height: 0.9em;
  margin-left: 4px;
}

@media (max-width: 575.98px) {
  html {
    font-size: 0.875rem;
  }

  .password-block,
  .settings-block,
  .strength-block {
    padding: 1em;
  }

  .password-block__password,
  .strength-block__strength-level {
    font-size: 1.25rem;
  }

  .settings-block__list div {
    margin-right: 10px;
  }

  .strength-block__strength-level-wrapper div {
    width: 5px;
  }
}
