* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}

body {
  background-color: #1a1a1a;
  color: #ededed;
  height: 100vh;
  display: flex;
}

main {
  margin: auto;
  text-align: center;
}

main h1 {
  margin-bottom: 2em;
}

section {
  margin-bottom: 1em;
}

section h2 {
  margin-bottom: 0.3em;
}

a {
  color: #fed09b;
}

a:visited {
  color: #615038;
}

.projects {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}

.yellow {
  color: #ffd701;
}
